body {
    background-color: beige;
}

#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(181, 231, 94);
    
}

.first-div {
    background-color: tomato;
    border: 3px solid #DE5874;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(29, 42, 51);
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 400;
}
p {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.word-colored {
    color: rgb(216, 59, 31);
    font-size: large;
    font-weight: 700;
    text-transform: uppercase;
}

.second-div {
    background-color: rgb(211, 137, 172);
    border: 3px solid rgb(181, 231, 94);
}

.third-div {
    background-color: rgb(233, 204, 110);
    border: 3px solid crimson;
}

footer {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    border: 2px solid brown;
    font-style: italic;
    font-weight: 200;
}
